<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js<%= config.features.includes('typescript') ? ' + TypeScript' : '' %> App"/>
  </div>
</template>

<script<%= config.features.includes('typescript') ? ' lang="ts"' : '' %>>
<% if (config.features.includes('typescript')) { %
import { defineComponent } from 'vue';
import HelloWorld from '@/components/HelloWorld.vue';

export default defineComponent({
  name: 'HomeView',
  components: {
    HelloWorld,
  },
});
<% } else { %>
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'HomeView',
  components: {
    HelloWorld
  }
}
<% } %>
</script>
